@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Playfair+Display:wght@500&family=Public+Sans:wght@500&display=swap');

*::-webkit-scrollbar {
    display: none;
}

.navLinks {
    color: hsl(0, 0%, 90%);
    transition: all 300ms ease-in-out;
}

.navLinks:hover {
    color: hsl(0, 0%, 100%);
    text-shadow: 0 5px 15px #afe0f5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.her-name {
    font-size: 10rem;
}

.visibility {
    opacity: 0;
}

h2 {
    font-family: 'La Belle Aurore', cursive;
}

main {
    flex-grow: 1;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
    pointer-events: none;
}

.bg-image {
    background-image: url('../images/guillaume-bleyer-XDzsY752ahY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border: #000;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: hsl(210, 30%, 40%);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}